<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<style>
		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 50px;
		}
		
		.text {
			flex: 1;
			margin-right: 50px;
		}
		
		.image {
			flex: 1;
			max-width: 400px;
			height: auto;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="text">
			<p>Attendance management system is used by an organization to track staff's time and attendance details. You can save time and effort by calculating your employee's working hours with an accurate attendance management system.

				Attendance management system keeps track of daily attendance, working hours, breaks, login, and logout time. It prevents staff's time theft. An attendance management system integrates all attendance devices such as smart cards, biometric, and facial recognition devices in real-time.
				
				Attendance management system records and maintains student’s attendance data using smart devices. The system collects attendance records in the system and manages, stores and processes the data. It generates daily attendance reports that help the faculty to track student’s presence with high accuracy and efficiency. Student attendance system helps teachers to mark online attendance of students during class & reduce manual work. It is used to track student's attendance, absentee record, attendance history & other related documents. Student attendance software allows you to record & manage daily student attendance to speed up the daily attendance process.
				
				Online attendance management system enables school administrators to record, manage & compile daily student attendance data. Along with student attendance, this software also allows teachers to generate 100% accurate student attendance reports.
				</p>
		</div>
		<div class="image">
			<img src=".../../assets/img/Attendance.jpg" alt="About Us Photo">
		</div>
	</div>
</body>
</html>

