<div class="bus-card">
  <img src="../../assets/img/Attendance.jpg" alt="saibus photo">
  <h2>proactive behaviour</h2>
</div>

<div class="bus-card">
  <img src="../../assets/img/School.png" alt="bus travels photo">
  <h2>good infrastructure</h2>
</div>


<div class="bus-card">
  <img src="../../assets/img/Staff.png" alt="bus travels photo">
  <h2>best teachers</h2>
</div>


<div class="bus-card">
  <img src="../../assets/img/Student.png" alt="bus travels photo">
  <h2>cultural activities</h2>
</div>

<div class="bus-card">
  <img src="../../assets/img/Attendance.jpg" alt="bus travels photo">
  <h2>good communications</h2>
  </div>
